main {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply bg-gray-800;
}

form {
  @apply flex flex-col bg-gray-500 p-4 sm:rounded-xl sm:w-96 w-full;
}

.active {
  @apply flex;
}

.inactive {
  @apply hidden;
}

form > div {
  @apply flex-col justify-center items-center text-center gap-2 inactive;
}

.form-group {
  @apply flex flex-col;
}

.inputs {
  @apply rounded-lg px-2 py-1;
}

form h1 {
  @apply text-2xl;
}
